// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Barlow", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";
main.govuk-main-wrapper {
    padding-top: 0px;
    padding-top: none;
}
.flex-row {
    display: flex;
    flex-direction: row
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.virgin-header {
    display: flex; 
    justify-content: center; 
    padding-top: 35px
}
.virgin-logo {
    height: 65px;
    width: auto;
}
.govuk-input {
    border-left: none;
    border-top: none;
    border-right: none;
}
.govuk-input--width-2 {
    max-width: 3.4ex;
    text-align: center;
}
.govuk-input:focus {
    outline: none;
    outline-offset: none;
    box-shadow: none;
}
.govuk-heading-xl {
    font-style: italic;
    color: #e10a0a;
}
.govuk-button {
    background-color: rgb(225, 10, 10);
    color: white;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-family: Barlow, sans-serif;
    line-height: 24px;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.color-virgin-red {
    color: #e10a0a;
}
.color-virgin-black {
    color: #1d1d1d;
}
.govuk-link.log-out {
    color: #e10a0a;
    font-weight: bold;
    display: flex; 
    justify-content: flex-end;
}
h3.govuk-heading-m.flex-space-between {
    margin-bottom: 0px;
}
h3.govuk-heading-m.color-virgin-red {
    margin-bottom: 0px;
}
.account-section {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
}
h3.govuk-heading-m.account-section-title {
    margin-bottom: 0px;
}
.full-width {
    background-color: rgb(252, 230, 230);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.virgin-company-tile {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
body {
    margin: 0px;
    height: 100vh;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.center a {
    padding: 10px 20px;
    background: #eee;
    color: #111;
    font-size: 15px;
    font-weight: 600;
    text-decoration:none;
    border-radius: 5px;
}
#email-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: none;
}
#email-popup .email-popup-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px 20px;
    background: #eee;
    border-radius: 15px;
}
#email-popup a.close-email-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
#email-popup:target {
    display: block;
}
.apple-mail-icon {
    height: 100px;
    padding: 10px 0px;
}
.apple-message-icon {
    height: 100px;
    padding: 10px 0px;
}
.email-popup-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

#sms-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: none;
}
#sms-popup .sms-popup-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px 20px;
    background: #eee;
    border-radius: 15px;
}
#sms-popup a.close-sms-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
#sms-popup:target {
    display: block;
}
.apple-mail-icon {
    height: 100px;
    padding: 10px 0px;
}
.sms-popup-title {
    margin-top: 15px;
    margin-bottom: 10px;
}
a.close-sms-pop {
    display: flex;
    justify-content: flex-end;
}
.govuk-checkboxes-container {
    vertical-align: middle;
}