// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Barlow", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";
main#main-content.govuk-main-wrapper.govuk-main-wrapper--auto-spacing {
  padding-top: 0px;
}
.govuk-header {
  background: none;
}
.govuk-header__container {
  position: relative;
  border-bottom: none
}
.govuk-button {
  background-color: rgb(225, 10, 10);
  color: white;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button:hover {
  background-color: rgb(225, 10, 10);
  color: white;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button-white {
  background-color: white;
  color: rgb(225, 10, 10);
  border: 1px solid rgb(225, 10, 10);
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button-white {
  background-color: white;
  color: rgb(225, 10, 10);
  border: 1px solid rgb(225, 10, 10);
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.full-width-red {
  background-color: #e10a0a;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.full-width-navy {
  background-color: #22244e;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.vtt-search-bar-container {
  display: flex;
  justify-content: center;
}
.vtt-search-bar {
  height: 70px;
  border: 10px solid #22244e;
  border-radius: 50px;
  width: 900px;
  padding: 20px;
}
.vtt-menu-link {
  color: white;
  padding: 10px;
}
.app-step-nav-related__link:visited, .app-step-nav-header__title:visited, a:visited, .govuk-link:visited {
  color: white;
}
.vtt-menu-tile {
  padding: 30px;
}
.vtt-menu-tile:hover {
  background: #3e4061;
}
.vtt-menu-icons {
  height: 50px;
  display: flex;
  justify-content: center;
  fill: white
}

.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.header-login-join-button-container {
  margin-left: auto; 
  margin-right: 0;
  display: flex;
  align-items: center;
}
.vtt-body-section {
  padding: 40px 40px 0px 40px;
  margin-top: 50px
}
.vtt-body-section-border {
  border: 1px solid darkgrey;
}
.govuk-link {
  color: #1D70B8;
}
li.govuk-link::marker {
  color: black;
}