// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Barlow", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";
.flex-row {
    display: flex;
    flex-direction: row
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.virgin-header {
    display: flex; 
    justify-content: center; 
    padding-top: 35px
}
.virgin-logo {
    height: 65px;
    width: auto;
}
.govuk-input {
    border-left: none;
    border-top: none;
    border-right: none;
}
.govuk-input--width-2 {
    max-width: 3.4ex;
    text-align: center;
}
.govuk-input:focus {
    outline: none;
    outline-offset: none;
    box-shadow: none;
}
.govuk-heading-xl {
    font-style: italic;
    color: #e10a0a;
}
.govuk-button {
    background-color: rgb(225, 10, 10);
    color: white;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-family: Barlow, sans-serif;
    line-height: 24px;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.color-virgin-red {
    color: #e10a0a;
}
.color-virgin-black {
    color: #1d1d1d;
}
.govuk-link.log-out {
    color: #e10a0a;
    font-weight: bold;
    display: flex; 
    justify-content: flex-end;
}
h3.govuk-heading-m.flex-space-between {
    margin-bottom: 0px;
}
h3.govuk-heading-m.color-virgin-red {
    margin-bottom: 0px;
}
.account-section {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
}
h3.govuk-heading-m.account-section-title {
    margin-bottom: 0px;
}
.full-width {
    background-color: rgb(252, 230, 230);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.virgin-company-tile {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
body{
	font-family: arial;
	font-size: small;
}
.item{
	height: 50px;
	width: 50px;
	padding: 10px;
	margin: 10px;
	background-color: grey;
	text-align: center;
	color: white;
	overflow: wrap;	
  float: left;
}
ul{
  list-style-type: none;
  
  margin-left: -25px;
}
li {
   display: inline;
}
.filter-button{
  width: 50px;
 margin-bottom: 5px;
  
}
.filter-button:hover{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}