// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Barlow", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";
.virgin-red-logo {
    height: 65px;
    width: auto;
}
.virgin-red-logo-container {
  display: flex;
  justify-content: center;
}
.virgin-red-logo {
    height: 140px;
    width: auto;
}
.govuk-button {
  background-color: rgb(225, 10, 10);
  color: white;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button:hover {
  background-color: rgb(225, 10, 10);
  color: white;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button-white {
  background-color: white;
  color: rgb(225, 10, 10);
  border: 1px solid rgb(225, 10, 10);
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.govuk-button-white {
  background-color: white;
  color: rgb(225, 10, 10);
  border: 1px solid rgb(225, 10, 10);
  box-shadow: none;
  font-size: 16px;
  font-family: Barlow, sans-serif;
  line-height: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.app-step-nav-related__link:link, .app-step-nav-header__title:link, a:link, .govuk-link:link {
  color: rgb(225, 10, 10);
  text-decoration: none;
}

.app-step-nav-related__link:visited, .app-step-nav-header__title:visited, a:visited, .govuk-link:visited {
  color: rgb(225, 10, 10);
}