{% extends "layout_gmail.html" %}

{% block pageTitle %}
  Virgin ID account | Welcome
{% endblock %}

{% block beforeContent %}
 

 
{% endblock %}

{% block content %}
  <div class="govuk-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Your Virgin ID code is 123456</h1>
          <a href="verify-email-address" draggable="false" class="">
            Click the link to return to continue creating your Virgin ID account
          </a>
        </div>
      </div>
  </div>
{% endblock %}
