{% extends "layout_vtt_sign_up_no_button.html" %}

{% block pageTitle %}
  Virgin ID account | Welcome
{% endblock %}

{% block beforeContent %}
 
  <div class="flex-row">
     <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
  </div>
 
{% endblock %}

{% block content %}
  <div class="govuk-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Share your details with Virgin Trains Ticketing</h1>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="flex-center">
              <img draggable="false" src="https://theme.zdassets.com/theme_assets/693244/fcdb70c1ed434acce249b92cdffb4436593e27d1.png" alt="Virgin Red logo" class="virgin-logo virgin-red-logo" style="height: 140px">
            </div>
          </div>
        </div>
        <div class="govuk-grid-row">
          <p>To get you signed in smoothly Virgin Trains Ticketing requests some of the personal details from your Virgin ID.</p>
          <p>Would you like to share these details with Virgin Trains Ticketing?</p>
        </div>
        <div class="govuk-grid-row flex-center">
          <div class="flex-column govuk-grid-column-one-quarter">
            <a href="welcome-vtt" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8  govuk-button--warning"  data-module="govuk-button">
              Continue
            </a>
          <button class="govuk-button govuk-button--secondary button-white" data-module="govuk-button">
            <div class="red-text">Cancel</div>
          </button>
        </div>
        </div>
        <div class="govuk-grid-row flex-center">
          <p class="govuk-!-font-weight-bold"><a class="govuk-link">What does this mean?</a></p>
        </div>
        <div class="govuk-grid-row">
          <p>Need help? Contact customer support</p>
        </div>
      </div>
  </div>
{% endblock %}
