{% extends "layout_virgin.html" %}

{% block pageTitle %}
Virgin ID account | Sign in
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in via text</h1>
      <p>Enter your mobile number and we'll send you a 6 digit security code</p>
        <form class="form" action="/url/of/next/page" method="post">
          <label class="govuk-label" for="email-address">
            Mobile number*
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text" maxlength="1">
          <a href="sign-in-text-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8  govuk-button--warning"  data-module="govuk-button">
            Continue
          </a>
        </form>
        <p>Need help? Contact customer support</p>
  </div>

{% endblock %}
