{% extends "layout_virgin.html" %}

{% block pageTitle %}
  Virgin ID account | Verify email
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="sign-in-virgin-id">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Verify your email address</h1>
        <p>Enter the 6 digit verification code sent to <strong>example@email.com</strong>.</p>
        <form class="form" action="/url/of/next/page" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="width-2">
              Verification code
            </label>
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">
            <input class="govuk-input verification govuk-input--width-2" id="width-2" name="width-2" type="text">

  
          
  </div>
          <a href="sign-in-text" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8  govuk-button--warning"  data-module="govuk-button">
            Continue
          </a>
  
        </form>

        <p>Need help? Contact customer support</p>
      

      

    </div>
  </div>

{% endblock %}
