{% extends "layout_vtt.html" %}

{% block pageTitle %}
  Virgin ID account | Welcome
{% endblock %}

{% block beforeContent %}
 
  <div class="flex-row">
     <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
      <a class="logout-link" href="../index">Log out</a>
  </div>
 
{% endblock %}

{% block content %}
  <div class="govuk-width-container ">
    <h1 class="govuk-heading-xl">Welcome to Virgin Trains Ticketing</h1>
    <p>You are now able to start exploring your <a href="account">Virgin ID account!</a></p>
  </div>
{% endblock %}
