{% extends "layout_virgin.html" %}

{% block pageTitle %}
  Virgin ID account | Welcome
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">Awesome! You're good to go.</h1>
      <p>Every time you buy a ticket you'll earn Virgin Points. You can view all your credited points in your account.</p>
      <p>You are now able to start exploring your <a href="../account">Virgin ID account!</a></p>
    </div>
  </div>

{% endblock %}
