{% extends "layout_virgin_red.html" %}

{% block pageTitle %}
The rewards club that revolves around you | Virgin Red
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Home</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Spend</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Earn</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">My rewards</p>
    </div>
  </div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Say hello to Virgin Red</h1>
    <p>The rewards club from Virgin, where you can turn online shopping, travel and more into Virgin Points, which can be spent on treats, experiences & exclusives.</p>
    <p>What's more, your Virgin Points never expire.</p>
    <div class="govuk-button-group">
      <a href="scenario-1/sign-in-virgin-id" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Join Virgin Red
      </a>
      <a href="scenario-2/sign-in-virgin-id" role="button" draggable="false" class="govuk-button-white govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign in with Virgin Red
      </a>
    </div>
  </div>
  <div class="govuk-grid-column-one-half half-width-container">
    <img src="https://images.ctfassets.net/ubrcxzi8y7m2/5KhGVAUp9xSMzdALrLyWZg/7ed4a6924d7fd1b76733766d596c1aac/hero.png?fm=webp&q=90&w=1000&h=750&fit=fill" alt="Virgin woman jumping in the air." style="width: 100%">
  </div>
</div>
  


{% endblock %}
