{% extends "layout_virgin_red.html" %}

{% block pageTitle %}
The rewards club that revolves around you | Virgin Red
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p>Home</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Spend</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>Earn</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p>My rewards</p>
    </div>
     <h1 class="govuk-heading-xl">What is Virgin Red and how does it work?</h1>
  </div>

{% endblock %}
