{% extends "layout_vtt.html" %}

{% block pageTitle %}
The rewards club that revolves around you | Virgin Red
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Home</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Spend</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">Earn</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="menu-link">My rewards</p>
    </div>
     <h1 class="govuk-heading-xl">What is Virgin Red and how does it work?</h1>
     <img src="https://images.ctfassets.net/ubrcxzi8y7m2/69EFnKOiHVWtK5f6xT6SVe/713bde98ea37dfb0a716dc8118eba8d4/Virgin_Red_-_How_Does_It_Work_Hero.jpg" alt="Virgin woman how does it work" style="width: 100%">
      <p>At Virgin Red we’ve made it our mission to make you smile every day, encourage your spirit of adventure, enable you to discover new things, explore more, spend time with friends and family and support causes close to your heart.</p>
      <p>Join our club and get ready to get more out of life, something as simple as swapping your broadband could see you go from world-wide-web to world-wide holidays. Switching your current account could see you skip the queue for exclusive gig tickets. And flying with us could uncork a private wine-tasting experience.</p>
      <p>You can earn Virgin Points on your favourite brands from the Virgin family - or you don’t have to be a Virgin customer, you can earn points by shopping with one of our many partners. And with everything from the biggest brands in retail, travel and entertainment to smaller, exciting new businesses, earning points couldn’t be easier. We want to help you make the most of every day. So, when you live a life more Virgin, the more we’ll reward you in return.</p>
      <p>And if, like us, you care about the world around you, you can donate points to one of your favourite charities or trade them in to develop technology to reduce your carbon footprint.</p>
      <p>And this is  just the start. As our journey together continues we’re going to keep updating our rewards and finding exciting new partnerships to inspire you.</p>
    </div>

{% endblock %}
